{% extends 'base.html' %}
{% load static %}

{% block title %}Задачи на день{% endblock %}

{% block extra_head %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block main_content %}

<h1>Текущие задачи</h1>
<p><i class="fa fa-download"></i>&nbsp;<a href="{% url 'tasks:export' %}">Экспорт задач</a></p>
	<ul id="todo-list">
		{% for task in tasks %}
			
			<li>
			{% if task.is_completed %}
				<input class="checkbox" data-uid={{ task.id }} type="checkbox" disabled="disabled" checked="checked" />
			{% else %}
				<input class="checkbox" data-uid={{ task.id }} type="checkbox" />
			{% endif %}
				{% if task.priority == task.PRIORITY_HIGH %}
				<span class="badge badge-pill badge-danger">&nbsp;</span>
				{% elif task.priority == task.PRIORITY_MEDIUM %}
				<span class="badge badge-pill badge-warning">&nbsp;</span>
				{% elif task.priority == task.PRIORITY_LOW %}
				<span class="badge badge-pill badge-success">&nbsp;</span>
				{% endif %}

				{% if task.is_completed %}
				<a class="completed" href="{% url 'tasks:details' task.id %}">{{ task }}</a>&emsp;<small>{{task.created | timesince}}</small>
				{% else %}
				<a href="{% url 'tasks:details' task.id %}">{{ task }}</a>&emsp;<small>{{task.created | timesince}}</small>
				{% endif %}
				<a class="remove" href={% url 'tasks:delete' task.id %}>X</a>
				<hr/>
			</li>
		{% empty %}
		<li>Пока нет задач</li>

		{% endfor %}
	</ul>
	<ul class="list-inline">
		{% for tag in tags %}
		<li class="list-inline-item">
			<span class="badge badge-info">{{ tag }}</span>
		</li>
		{% endfor %}
	</ul> 
{% endblock %}